<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tele-Zalo</title>
    <link rel="shortcut icon" href="/img/logo-tele.png" id="tabIcon">
    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/css/app.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Customize Css-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body data-layout-mode="dark">
    {{{body}}}
    <div class="layout-wrapper d-lg-flex">
        {{> user/left-sidebar-menu}}
        {{> user/left-sidebar-chat}}
        <div class="user-chat w-100 overflow-hidden user-chat-show">
            <div class="user-chat-overlay"></div>

            <div class="chat-content d-lg-flex">

            </div>
        </div>
        {{> user/modal-new-contact}}
        {{> user/modal-new-group}}
        {{> user/pass-data}}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>
        const socket = io();
        const user_id = document.querySelector('.passUserID').value;

        $.ajax({
            url: `/message/get-all-contact`,
            method: "GET",
            success: function (allContact) {
                socket.emit('join', {
                    userId: user_id,
                    allContact: allContact
                });
            }
        })
        socket.on('sendUserOnline', data => {
            data.forEach(e => {
                if (e.type == 'single') {
                    var elementLeftChat = document.querySelector(`#contact-id-${e.userId}`);
                    elementLeftChat.querySelector(".user-status").style.backgroundColor = "#06d6a0";
                } else {
                    var elementLeftChat = document.querySelector(`#group-id-${e.messageId}`);
                    elementLeftChat.querySelector(".user-status").style.backgroundColor = "#06d6a0";
                }
            })
        })

        socket.on('sendMeOnline', data => {
            if (data.type == 'single') {
                var elementLeftChat = document.querySelector(`#contact-id-${data.userId}`);
                elementLeftChat.querySelector(".user-status").style.backgroundColor = "#06d6a0";
            } else if (data.senderId != user_id) {
                var elementLeftChat = document.querySelector(`#group-id-${data.messId}`);
                elementLeftChat.querySelector(".user-status").style.backgroundColor = "#06d6a0";
            }
        })

        socket.on('getMessageSingle', (data) => {
            var eleParentLeftChat = $('#favourite-users');
            var elementLeftChat = document.querySelector(`#contact-id-${data.senderId}`);
            elementLeftChat.querySelector('a').classList.add("unread-msg-user");
            var numUnRead = elementLeftChat.querySelector('.badge').innerHTML;
            numUnRead = numUnRead ? parseInt(numUnRead) + 1 : 1;
            elementLeftChat.querySelector('.badge').innerHTML = numUnRead;
            eleParentLeftChat.prepend(elementLeftChat);
            
        })
        socket.on('getMessageGroup', (data) => {
            var eleParentLeftChat = $('#favourite-users');
            var elementLeftChat = document.querySelector(`#group-id-${data.messId}`);
            elementLeftChat.querySelector('a').classList.add("unread-msg-user");
            var numUnRead = elementLeftChat.querySelector('.badge').innerHTML;
            numUnRead = numUnRead ? parseInt(numUnRead) + 1 : 1;
            elementLeftChat.querySelector('.badge').innerHTML = numUnRead;
            eleParentLeftChat.prepend(elementLeftChat);
        })

        socket.on('userOff', user => {
            var elementLeftChat = document.querySelector(`#contact-id-${user.userId}`);
            elementLeftChat.querySelector(".user-status").style.backgroundColor = "#495057";
        })
    </script>
    <script src="/js/newContact.js"></script>
</body>

</html>