<div class="modal fade" id="addContact-exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="addContact-exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="addContact-exampleModalLabel">Create Contact
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <form class="form-new-contact">
                    <div class="mb-3">
                        <label for="addcontactphone-input" class="form-label" style="display: block;">Phone
                            number</label>
                        <input type="search" class="form-control" id="addcontactphone-input"
                            placeholder="Enter phone number" name="phone"
                            style="width: 50%; display: inline-block; margin-right: 10px">
                        <button type="button" class="btn btn-primary modal-contact-btn-search">Search</button>
                        <span class="form-message" style="display: block; color: #f33a58;"></span>
                    </div>
                    <div class="mb-3" style="min-height: 60px;">
                        <div class="modal-contact-avatar">
                        </div>
                    </div>
                    <div class="mb-0">
                        <label for="addcontact-invitemessage-input" class="form-label">Invatation
                            Message</label>
                        <textarea class="form-control" name="message" id="addcontact-invitemessage-input" rows="3"
                            placeholder="Enter Message"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link modal-contact-btn-cls" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary modal-contact-btn-ivt">Invite</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
