<div class="modal fade" id="addContact-exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="addContact-exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="addContact-exampleModalLabel">Create Contact
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <form id="form-1" action="" method="post">
                    <div class="mb-3">
                        <label for="addcontactphone-input" class="form-label" style="display: block;">Phone number</label>
                        <input type="search" class="form-control" id="addcontactphone-input" placeholder="Enter phone number" 
                        style="width: 50%; display: inline-block; margin-right: 10px">
                        <button type="button" class="btn btn-primary modal-contact-btn-search">Search</button>
                        <span class="form-message" style="display: block; color: #f33a58;"></span>
                    </div>
                    <div class="mb-3" style="min-height: 60px;">
                        <div class="modal-contact-avatar">
                            {{!-- <span style="color: #f33a58; display: block"> You and he (she) are contacted </span> --}}
                        </div>
                    </div>
                    <div class="mb-0">
                        <label for="addcontact-invitemessage-input" class="form-label">Invatation
                            Message</label>
                        <textarea class="form-control" id="addcontact-invitemessage-input" rows="3"
                            placeholder="Enter Message"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Invite</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="/js/authenValidator.js"></script>
<script>
    Validator({
        form: '#form-1',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#addcontactphone-input'),
        ],
    })
    
    var btnSearch = document.querySelector('.modal-contact-btn-search');
    var modalUser = document.querySelector('.modal-contact-avatar');
    btnSearch.addEventListener('click', () => {
        var searchValue = document.querySelector('#addcontactphone-input').value;
        $.ajax({
            url: "/user/search-contact",
            method: "POST",
            data: {
                phone: searchValue,
            },
            success: function (data) {
                if(data === 'Not found'){
                    var output = `<span style="color: #f33a58;"> This phone number is not activated on this app </span>`;
                    modalUser.innerHTML = output;
                }else if(data.contacted){
                    var output = `<img src="${data.user.avatar}" alt="" class="rounded-circle avatar-sm">
                    <span style="margin-left: 10px;">${data.user.fullname} </span> <span>(contacted)</span>`;
                    modalUser.innerHTML = output;
                }else {
                    var output = `<img src="${data.user.avatar}" alt="" class="rounded-circle avatar-sm">
                    <span style="margin-left: 10px;">${data.user.fullname} </span> <span>(not contacted yet)</span>`;
                    modalUser.innerHTML = output;
                }
            },
        })
    })
</script>