<div class="modal fade" id="profile-friend" tabindex="-1" role="dialog" aria-labelledby="profile-friendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="user-profile-img">
                <img src="https://themesbrand.com/doot/layouts/assets/images/small/img-4.jpg" class="profile-img"
                    style="height: 160px;" alt="">
                <div class="overlay-content">
                    <div>
                        <div class="user-chat-nav p-2 ps-3">

                            <div class="d-flex w-100 align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="text-white mb-0">Profile</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center p-3 p-lg-4 border-bottom pt-2 pt-lg-2 mt-n5 position-relative">
                <div class="mb-lg-3 mb-2">
                    <img src="/img/avatar-default.png" class="rounded-circle avatar-lg img-thumbnail"
                        alt="">
                </div>

                <h5 class="font-size-16 mb-1 text-truncate">Adam Zampa</h5>
                <p class="text-muted font-size-14 text-truncate mb-0">Front end Developer</p>
            </div>
            <!-- End profile user -->

            <!-- Start user-profile-desc -->
            <div class="p-4 profile-desc" style="height: calc(100vh - 400px);">
                <div class="text-muted">
                    <p class="mb-4">If several languages coalesce, the grammar of the resulting language is
                        more simple.</p>
                </div>

                <div>
                    <div class="d-flex py-2">
                        <div class="flex-shrink-0 me-3">
                            <i class="far fa-user align-middle text-muted"></i>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">Adam Zampa</p>
                        </div>
                    </div>

                    <div class="d-flex py-2">
                        <div class="flex-shrink-0 me-3">
                            <i class="far fa-envelope align-middle text-muted"></i>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">adc@123.com</p>
                        </div>
                    </div>

                    <div class="d-flex py-2">
                        <div class="flex-shrink-0 me-3">
                            <i class="far fa-map-marker-check align-middle text-muted"></i>
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-0">California, USA</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>