<div class="modal fade" id="modal-chat-add-mem" tabindex="-1" role="dialog" aria-labelledby="chat-new-memberModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="chat-new-memberModalLabel">
                    Add New Member</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <form class="form-chat-add-member" action="message/add-member-group?messId={{message._id}}"
                    method="post">
                    <div class="card border">
                        <div class="card-body p-2">
                            <div style="max-height: 150px;" class="contacts-add-new-mem">

                            </div>
                        </div>
                    </div>
                    <span class="notify-add-mem-isvalid"></span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>