<div class="modal fade" id="addgroup-exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="addgroup-exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="addgroup-exampleModalLabel">
                    Create New Group</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <form action="/message/new-group" method="post">
                    <div class="mb-4">
                        <label for="addgroupname-input" class="form-label">Group Name</label>
                        <input type="text" class="form-control" id="addgroupname-input" name="group_name" placeholder="Enter Group Name">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Group Members</label>
                        <div class="mb-3">
                            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#groupmembercollapse" aria-expanded="false"
                                aria-controls="groupmembercollapse">
                                Select Members
                            </button>
                        </div>

                        <div class="collapse" id="groupmembercollapse">
                            <div class="card border">
                                <div class="card-header">
                                    <h5 class="font-size-15 mb-0">Contacts</h5>
                                </div>
                                <div class="card-body p-2">
                                    <div style="max-height: 150px;" class="contacts-modal-group">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addgroupdescription-input" class="form-label">Description</label>
                        <textarea class="form-control" id="addgroupdescription-input" rows="3" name="group_desc"
                            placeholder="Enter Description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Create Groups</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{{!--
<script src="/js/newGroup.js"></script> --}}
<script>
    const btnNewGroup = document.querySelector('.btn-new-group');
    btnNewGroup.addEventListener('click', () => {
        $.ajax({
            url: "/message/get-all-contact-sort",
            method: "GET",
            success: function (data) {
                let output = '<ul class="list-unstyled contact-list">';
                let arrChar = [];
                data.forEach(e => {
                    if (!arrChar.some(a => a === e.fullname[0])) {
                        arrChar.push(e.fullname[0]);
                        output += `
                            <div class="contact-list-title">
                                ${e.fullname[0]}
                            </div>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" name="list_ids_group" value="${e.id}" class="form-check-input">
                                    <label class="form-check-label">${e.fullname}</label>
                                </div>
                            </li>
                        `;
                    } else {
                        output += `
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" name="list_ids_group" value="${e.id}" class="form-check-input">
                                    <label class="form-check-label">${e.fullname}</label>
                                </div>
                            </li>
                        `;
                    }
                })
                output += '</ul>';
                document.querySelector('.contacts-modal-group').innerHTML = output;
            }
        })
    })
</script>