<div class="modal fade" id="modal-chat-out-group" tabindex="-1" role="dialog"
    aria-labelledby="modal-chat-ou-groupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="message/out-group?messId={{message._id}}" method="post" class="form-out-group">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDelete">Out group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Out this group. Are you sure about that?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Sure</button>
                </div>
            </form>
        </div>
    </div>
</div>