<div class="modal fade" id="modal-chat-member" tabindex="-1" role="dialog" aria-labelledby="chat-memberModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="addgroup-exampleModalLabel">
                    Group Member</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <div class="card border">
                    <div class="card-header">
                        <h5 class="font-size-15 mb-0">Members</h5>
                    </div>
                    <div class="card-body p-2">
                        <div style="max-height: 300px; overflow: scroll;" class="contacts-modal-group">
                            <ul class="list-unstyled contact-list">
                                {{#each message.member}}
                                <li>
                                    <div class="each-member-group">
                                        <img src="{{this.avatar}}" alt="" class="rounded-circle avatar-sm">
                                        <div class="name-meber-group">
                                            <span style="font-size: 16px;">{{this.fullname}}</span>
                                            <span style="font-size: 13px;">{{this.phone}}</span>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>