<div class="modal fade" id="modal-chat-customize" tabindex="-1" role="dialog" aria-labelledby="chat-customizeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-header-colored shadow-lg border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white font-size-16" id="addgroup-exampleModalLabel">
                    Group Info</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-4">
                <form>
                    <div class="accordion-body">
                        <div>
                            <p class="text-muted mb-1">Name Group</p>
                            <input type="text" class="form-control" value="{{message.name}}">
                        </div>

                        <div class="mt-4">
                            <p class="text-muted mb-1">Description</p>
                            <textarea class="form-control" cols="10" rows="3">{{message.desc}}</textarea>
                        </div>

                        <div class="mt-4">
                            <p class="text-muted mb-1">Change avatar group</p>
                            <input type="file" class="form-control">
                        </div>
                        <br>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>