.lading-page-parent{
    display: flex;
  }
  .lading-page{
    width: 100%;
    align-items: center;
  }
  #carouselExampleCaptions{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .carousel-inner{
    justify-content: center;
  }
  .carousel-item img{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-item p{
    margin-bottom: -4rem;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .carousel-indicators{
    margin-bottom: -2rem;
  }
  .carousel-indicators button{
    height: 6px !important; 
    width: 36px !important;
  }