.each-avatar {
display: inline-block;
border-radius: 50%;
overflow: hidden;
width: 22px;
}

.each-avatar:not(:first-child) {
margin-left: -13.2px;
-webkit-mask:radial-gradient(circle 10px at 1px 50%,transparent 99%,#fff 100%);
        mask:radial-gradient(circle 10px at 1px 50%,transparent 99%,#fff 100%);
}

.each-avatar img {
width: 100%;
display: block;
}
.notify-chat{
        justify-content: center;
        margin-bottom: 5px;
}
