.each-avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
.size-avatar-sm {
  width: 17px;
  height: 17px;
}
.size-avatar-lg {
  width: 22px;
  height: 22px;
}
.each-avatar:first-child {
  bottom: 0;
  left: 0;
}
.each-avatar:not(:first-child) {
  top: 0;
  right: 0;
}
.each-avatar img {
width: 100%;
height: 100%;
display: block;
}
.avatars-group-sm{
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
}
.avatars-group-lg{
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}

.notify-chat{
  justify-content: center;
  margin-bottom: 5px;
}
.ctext-wrap{
  position: relative;
}
.reaction-icon-block{
  position: absolute;
  bottom: -15px;
  right: 6px;
  z-index: 3;
  cursor: pointer;
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.205);
  border-radius: 50%;
}
.reaction-icon{
  background-image: url(/img/like-default.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
}
.reaction-icon-disable{
  background-image: url(/img/like-default.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
  }
.user-profile-sidebar{
  animation: modalIN ease 0.5s;
}
.each-member-group{
  display: flex;
  align-items: center;
}
.name-meber-group{
  margin-left: 10px;
  display: inline-block;
}
.name-meber-group span{
  display: block;
}

.chat-list li .unread-msg-user{
  color: #2e89ff !important;
  font-weight: 600;
}
@keyframes modalIN{
  from{
      opacity: 0;
      transform: translateX(100px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}