<form action="/auth/user/create" method="POST" class="form" id="form-1">
    <h3 class="heading">Sign up</h3>
    <p class="desc">Become a member of ChatApp ❤️</p>

    <div class="spacer"></div>
    <div class="form-group">
        <label for="fullname" class="form-label">Full Name</label>
        <input id="fullname" name="fullname" type="text" placeholder="Your full name" class="form-control">
        <span class="form-message"></span>
    </div>
    <div class="form-group">
        <label for="phone" class="form-label">Phone number</label>
        <input id="phone" name="phone" type="text" placeholder="Your phone number" class="form-control">
        <span class="form-message"></span>
    </div>
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text" placeholder="Your username" class="form-control">
        <span class="form-message"></span>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" placeholder="Your password" class="form-control">
        <span class="form-message"></span>
    </div>
    <div class="form-group">
        <label for="password_confirmation" class="form-label">Repeat password</label>
        <input id="password_confirmation" placeholder="Repeat password" type="password"
            class="form-control">
        <span class="form-message"></span>
    </div>

    <span class="form-message  {{checkRegister}}">
        {{#if message}}
            {{message}}
        {{/if}}
    </span>
    <button class="form-submit">Register</button>
    <div class="register">
        <span>Have an account?</span>
        <span><a href="/auth/user/login">Sign in now!</a></span>
    </div>
</form>

<script src="/js/authenValidator.js"></script>
<script>
    Validator({
        form: '#form-1',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#fullname'),
            Validator.isRequired('#phone'),
            Validator.minLength('#phone', 10),
            Validator.isRequired('#username'),
            Validator.minLength('#username', 4),
            Validator.isRequired('#password'),
            Validator.minLength('#password', 4),
            Validator.isRequired('#password_confirmation'),
            Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-1 #password').value;
            }, 'Re-entered password is incorrect')
        ],
    })
</script>