<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark __header-admin">
    <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            <img src="/img/logo1.png" width="50" height="50" class="me-3" alt="Bootstrap">
            Group Chat
        </h1>
        <div class="ms-auto me-2">
            <i class="fas fa-bell"></i>
        </div>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle avatar-block" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{userInfo.avatar}}" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" style="z-index: 10000" aria-labelledby="dropdownUser1">
                <li><img src="{{userInfo.avatar}}" alt="mdo" width="40" height="40" class="rounded-circle me-3 ms-3">{{userInfo.fullname}}</li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="/admin/personal-info">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/auth/admin/logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
<nav class="navbar sticky-top navbar-dark bg-dark __nav-admin">
    <div class="container-fluid __adminnav">
        <a class="navbar-brand none" href="#"></a>
        <a class="navbar-brand" href="/admin">Dashboard</a>
        <a class="navbar-brand" href="/admin/personal-info">User Profie</a>
        <a class="navbar-brand" href="/admin/messenger">Chat</a>
        <a class="navbar-brand" href="./">Visit Website</a>
    </div>
</nav>